<html>
    <head>
        <title>
            <%=title  %>
        </title>

    </head>
        <body>
            <h1> Playground </h1>
        <ul>
            <% for(let i=2;i<=20;i=i+2){%>
               <li>
                   <b><%=i%></b>
               </li>
            <%}%>
        </ul>    
        </body>
</html>